.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  z-index: 1000;
}

.whatsapp-button:hover {
  background-color: #20b358;
}

main {
    margin-top: 70px;
}

/* banner */
.banner {
    width: 100%;
    height: 1100px; /* 850px */
    background: linear-gradient(to top, var(--color-blue-1) 40%, rgba(51, 72, 157, 0) 70%),url('/assets/banner-image.png') no-repeat;
    background-position: center center;
    background-size: cover; 
    box-shadow: 0px 15px 12px #00000069; 
    display: flex;     
    align-items: flex-end;
    justify-content: center;
}

.banner .text {
    padding: 30px;
    color: #fff;
    max-width: 600px;
    text-align: center;
}

.banner .text h1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.banner .text p {
    font-size: .95rem;
    color: #ececec;
    margin-bottom: 10px;
}

.banner .text .banner-whatsapp-button {
    display: flex;
    width: fit-content;
    color: #fff;
    background-color: #25d366;
    padding: 10px;
    border-radius: 15px;
    margin: 10px auto;
}

/* treatments */

.treatments {
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
}

.treatments h1 {
    text-align: center;
    font-size: 1.25rem;
}

.treatments h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
}

.treatments .treatments-cards {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.treatments .treatments-cards .treatment-card {
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.268);
    padding: 20px;
    text-align: center;
}

/* methods */

.methods {
    background-image: url('/assets/methods-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center left;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: right;
    box-shadow:  0px 15px 12px #00000069;
}

.methods .content {
    background-color: #fff;
    padding: 40px;
    height: 550px;
    max-width: 700px;
    border-radius: 35px;
}

@media (min-width: 768px) {
    .banner {
        background: linear-gradient(to right, var(--color-blue-1) 40%, rgba(51, 72, 157, 0) 70%),url('/assets/banner-image.png') no-repeat center center;
        background-size: cover;
        display: block;
    }

    .banner .text {
        padding: 150px 0 0 100px;
        text-align: left;
    }

    .banner .text p {
        font-size: 1.1rem;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .banner .text .banner-whatsapp-button {
        margin: 15px 0 0 0;
    }

    /* treatments */

    .treatments {
    padding: 100px 70px;
    }

    .treatments .treatments-cards {
    flex-direction: row;
    flex-wrap: wrap;
}
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
    z-index: 1;
 }

@keyframes fadeIn {
 to { opacity: 1; }
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}