.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  z-index: 1000;
}

.whatsapp-button:hover {
  background-color: #20b358;
}

main {
    margin-top: 70px;
}

/* banner */
.banner {
    width: 100%;
    height: 1100px; /* 850px */
    background: linear-gradient(to top, var(--color-blue-2) 40%, rgba(51, 72, 157, 0) 70%),url('/assets/banner-image.png') no-repeat;
    background-position: center center;
    background-size: cover; 
    box-shadow: 0px 15px 12px #00000069; 
    display: flex;     
    align-items: flex-end;
    justify-content: center;
}

.banner .text {
    padding: 30px;
    color: #fff;
    max-width: 600px;
    text-align: center;
}

.banner .text h1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.banner .text p {
    font-size: .95rem;
    color: #ececec;
    margin-bottom: 10px;
}

.banner .text .banner-whatsapp-button {
    display: flex;
    width: fit-content;
    color: #fff;
    background-color: #25d366;
    padding: 10px;
    border-radius: 15px;
    margin: 10px auto;
}

.banner .text .banner-whatsapp-button:hover {
    background-color: #20b358;
}

/* treatments */

.treatments {
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
}

.treatments h1 {
    text-align: center;
    font-size: 1.25rem;
}

.treatments h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
}

.treatments .treatments-cards {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.treatments .treatments-cards .treatment-card {
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.268);
    padding: 20px;
    text-align: center;
}

/* methods */

.methods {
   background: linear-gradient(to top  , var(--color-blue-3) 40%, rgba(51, 72, 157, 0) 70%),url('/assets/methods-image.jpg') no-repeat;
   background-size: cover;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   height: 1100px;
   padding: 0 30px 30px 30px;
   box-shadow: 0px 15px 12px #00000069;
}

.methods .content {
    padding: 30px;/*50*/
    max-width: 600px;
    opacity: 0.95;
    color: #000;/**/
    background-color: #ffffffc9;
    border-radius: 25px;
}   

.methods .content h1 {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.methods .content p {
    line-height: 1.3;
    color: #000;
    font-size: .95rem;
    margin-bottom: 10px;
}

.methods .content .methods-whatsapp-button {
    display: flex;
    width: fit-content;
    color: #fff;
    background-color: #25d366;
    padding: 10px;
    border-radius: 15px;
    margin: 20px 0 0 0;
}

.methods .content .methods-whatsapp-button:hover {
    background-color: #20b358;
}

/* about */

.about .box {
    display: flex;
    flex-direction: column;
}

.about .box .img {
    flex: 1;
    margin: 0 auto 20px;
}

.about .box .img img {
    width: 240px;
    border-radius: 50%;
}

.about .box .text {
    flex: 2;
}

.about .box .text h3 {
    color: var(--color-blue-2);
    margin-top: 15px;
}

.about .box .text p {
    margin: 15px 0;
    text-align: justify;
}


@media (min-width: 768px) {
    .banner {
        background: linear-gradient(to right, var(--color-blue-2) 40%, rgba(51, 72, 157, 0) 70%),url('/assets/banner-image.png') no-repeat center center;
        background-size: cover;
        display: block;
    }

    .banner .text {
        padding: 150px 0 0 100px;
        text-align: left;
    }

    .banner .text p {
        font-size: 1.1rem;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .banner .text .banner-whatsapp-button {
        margin: 15px 0 0 0;
    }

    /* treatments */

    .treatments {
       padding: 100px 70px;
    }

    .treatments .treatments-cards {
       flex-direction: row;
       flex-wrap: wrap;
    }

    /*about*/

    .about .box {
        flex-direction: row;
    }

    .about .box .img img {
        width: 100%;
    }

    .about .box .text {
        padding-left: 40px;
    }


}

@media (min-width: 1024px) {
     .methods {
        background: linear-gradient(to left  , var(--color-blue-3) 40%, rgba(51, 72, 157, 0) 70%),url('/assets/methods-image.jpg') no-repeat;      
        height: 900px;
        justify-content: flex-end;
    }

    .methods .content {
        background-color: transparent;
        max-width: 650px;
        margin-left: auto;
        padding: 80px 20px 80px 50px;
        color: #fff;
    }

    .methods .content h1 {
        font-size: 1.5rem;
    }

    .methods .content p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: #fff;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
    z-index: 1;
}

@keyframes fadeIn {
 to { opacity: 1; }
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}